/* import el estilo de la fuente (Google Fonts)*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
/* root almacena las variables y las dispone para todo el documento */
:root {
  --main-color-dark: #8b48bf;
  --main-color-clear: #3cddf3;
  --variant-very-dark: #232851;
  --variant-dark: #1e1e26;
  --variant-clear: #f9f9f9;
}
/*oculta la barra de desplazamiento (gusto personal)*/
::-webkit-scrollbar {
  display: none;
}
/* Selector universal, colocamos reglas generales para no repetirlas */
* {
  font-family: "Be Vietnam Pro", sans-serif;
  margin: 0;
  box-sizing: border-box;
}
/* Quito estilos a todos los enlaces */
a {
  color: #ffffff;
  text-decoration: none;
}
/* Quito estilos a todas las listas */
li {
  list-style: none;
}
/* Cambio el padding por defecto de las ul */
ul {
  padding: 0 12px 0 0;
}
/* clase designada a ciertos los botones (contact y more) */
.button {
  font-size: 13px;
  font-weight: 500;
  color: var(--variant-clear);
  display: inline-block;
  text-align: center;
  padding: 13px;
  background-color: var(--main-color-dark);
  width: 120px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
/* Animación Hover a la clase button */
.button:hover {
  box-shadow: 0px 0px 26px var(--main-color-dark);
  transform: scale(1.1);
}
/* Clase designada a la imagen principal */
.filter {
  transition: 0.6s ease-in-out;
}
/* Animación filter (sombra en el contorno de la imagen) */
.filter:hover {
  filter: drop-shadow(-1px -2px 22px var(--main-color-dark));
}
/* Clase designada a li, logo, e imágenes de la sección "Avatar" */
.transform {
  transition: 0.4s ease-in-out;
  cursor: none;
}
/* Animación que aumenta el tamaño del objeto en una escala del 10% */
.transform:hover {
  transform: scale(1.1);
}
/*Inicio Sección header */
.header {
  width: 100vw;
  padding: 56px 70px 0 60px;
  margin: 0 0 22px 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-height: 20px;
}
.navbar a {
  color: var(--variant-very-dark);
}
.menu-icon {
  display: flex;
}
.navbar li {
  transition: 0.3s ease-in-out;
  padding: 2px;
  border-radius: 4px;
  font-weight: 700;
}
.navbar li:hover {
  transform: scale(1.2);
  color: var(--main-color-clear);
}
.nav__contact {
  display: none;
}
/* inicio BURGER MENU */
.menu-icon {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 12px;
  cursor: pointer;
  z-index: 200;
  transition: 0.3s;
}
.menu-icon div {
  display: block;
  background: #000000;
  height: 4px;
  width: 50px;
  transition: 0.3s;
  border-radius: 12px;
}
.move .line1 {
  transform: rotate(-50deg) translate(-10px, 10px);
}
.move .line2 {
  opacity: 0;
}
.move .line3 {
  transform: rotate(50deg) translate(-10px, -10px);
}
.main {
  height: auto;
}
.menu-icon {
  display: flex;
}
/* coloca el navbar fuera de la vista */
.navbar {
  position: absolute;
  top: -100%;
  right: 0;
  min-width: 200px;
  width: 20vw;
  height: 30vh;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px 20px;
  transition: 0.8s all ease;
}
/* Regresa el navbar a la vista (función linkeada al js hamburger.js) */
.open-menu {
  top: 120px;
  right: 0;
  transition: 0.8s all ease;
}
/* fin menu hamburger */
/* final sección header */
/* inicio sección main */
/* Sección presentation */
.main__presentation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 80px;
}
/* width máximo en 540px para que crezca mas de eso */
.main__presentation div {
  width: 100%;
  max-width: 540px;
}
.presentation__img {
  width: 100%;
  max-width: 540px;
}
.presentation__content-text {
  text-align: end;
}
/* utilizando propiedades directas del Figma 👌 */
.presentation__title {
  color: var(--variant-very-dark);
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -0.035em;
  margin: 0 0 20px 0;
  font-weight: 700;
}
.presentation__paragraph {
  line-height: 26px;
  margin: 0 0 20px 0;
}
/* Sección information se repite 2 veces en el main */
.main__information {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--main-color-clear);
  width: 100%;
  color: var(--variant-clear);
  padding: 40px 20px;
}
.information__title {
  font-size: 36px;
  line-height: 41px;
  font-weight: 700;
}
.information__paragraph {
  padding: 0 6px;
  font-weight: 500;
  line-height: 24px;
  max-width: 500px;
  width: 60%;
}
/* Sección services */
.main__services {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 60px 0 70px 30px;
}
/* animación aplicada a la numeración de los títulos en la sección services */
.services__section {
  transition: 0.3s ease-in-out;
}
.services__section:hover .button--hover {
  color: var(--variant-dark);
  background-color: var(--main-color-clear);
}
.services__title {
  background: rgba(139, 72, 191, 0.3);
  height: 50px;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
}
.title__number {
  background-color: var(--main-color-dark);
  color: var(--variant-clear);
  border-radius: 50px;
  height: 50px;
  padding: 14px 25px;
  margin: 0 20px 0 0;
}
.services__paragraph {
  color: #b3b2b7;
  padding: 0 30px 0 10px;
}
/* Main mural es la contenedora de la sección "avatar" */
.main__mural {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin: 60px 0;
  gap: 40px;
}
.mural__title {
  color: var(--variant-very-dark);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin: 0 0 90px 0;
}
/* sección "avatar" */
.avatar__section {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 30px 20px 30px;
  position: relative;
  transition: 0.3s ease-in-out;
}
/* animación escala 10% en las imágenes de la sección avatar */
.avatar__section:hover .transform {
  transform: scale(1.2);
}
/* Desactivamos 2 sección avatar, según el diseño del Figma (mobile first) */
.disable {
  display: none;
}
/* La imagen del avatar se monta sobre el contorno de la sección, 
quedando mitad dentro y la otra fuera del contorno gris claro */
.avatar__img {
  position: absolute;
  top: -20%;
}
/* Segunda sección main information, aplicados estilos individual a la segunda */
.main__cta {
  min-height: 340px;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.information__title {
  pad: 0 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: -0.005em;
}
/* Seleccione la palabra BEST y se le aplica una configuración especial,
 para que en mobile ocupe una sola linea la palabra */
.title--active {
  display: block;
  width: 100%;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
/* animación a la palabra BEST */
.title--active:hover {
  color: var(--variant-dark);
}
/* button de la segunda sección information */
.information__button {
  background-color: var(--variant-very-dark);
  font-weight: 500;
}
/* animación del button donde aumenta su tamaño un %10
(comparte clase con .button) */
.information__button:hover {
  box-shadow: none;
  transform: scale(1.2);
}
/* inicio de la sección Footer */
.footer {
  min-height: 500px;
  background-color: var(--variant-dark);
  padding: 50px;
}
/* Sección footer contenedora de las partes del footer, esta en reverse ya que maquete desde la vista  del Desktop,
entonces en mobile se requiere colocarlas en reverse */
.footer__section {
  min-height: 350px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 25px;
}
/* contenedores de las partes del foooter (Las listas ul y el form) */
.section__row {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: space-evenly;
  max-width: 600px;
}
/* estilos a las listas, específicos no le puse clase xd */
.section__row li {
  margin: 0 0 12px 0;
}
.section__row li a {
  transition: 0.3s ease-out;
}
/* animación a los enlaces del footer */
.section__row li a:hover {
  color: var(--main-color-clear);
}
/* EL form contenido por el section row ya tiene máximo especificado */
form {
  width: 100%;
  text-align: center;
}
/* Focus al input email */
.form__email:focus {
  outline: 3px solid var(--main-color-clear);
}
/*estilos del form email */
.form__email {
  outline: none;
  width: 70%;
  min-width: 120px;
  max-width: 240px;
  border: none;
  border-radius: 50px;
  padding: 12px;
}
/*estilos del form submit el "button" GO */
.form__submit {
  cursor: pointer;
  width: 70px;
  border: none;
  border-radius: 50px;
  padding: 12px;
  color: var(--variant-clear);
  background-color: var(--main-color-dark);
}
/* Animación al button GO */
.button--hover {
  transition: 0.3s ease-out;
  cursor: cell;
}
.button--hover:hover {
  background-color: var(--main-color-clear);
  color: var(--variant-dark);
}
/* contenedor del logo y los iconos de las redes sociales */
.section__column {
  display: flex;
  width: 100%;
  flex-direction: column-reverse;
  align-items: center;
}
/* contenedor del logo*/
.logo__footer {
  width: 200px;
  margin: 0 0 12px 0;
}
/* contenedor de los iconos de las redes sociales */
.row__cta {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
/* contenedor de los iconos de las redes sociales para la animación */
.container {
  width: 100%;
  max-width: 460px;
  display: flex;
  justify-content: space-around;
}
/* animación hover redes sociales */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 42px;
  height: 42px;
  background: var(--variant-dark);
  border-radius: 50%;
  color: var(--variant-clear);
  overflow: hidden;
  position: relative;
}
/* estilo y animación de los iconos de FontAwesome */
.btn i {
  font-size: 22px;
  line-height: 2.2;
  transition: 0.5s linear;
}
.btn:hover i {
  transform: scale(1.1);
}
/* fondo que cubre el fondo original provocando el efecto de "relleno" */
.btn::before {
  transition: 0.5s linear;
  content: "";
  position: absolute;
  width: 120%;
  height: 146%;
  background: var(--main-color-dark);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before {
  animation: pounce 2s;
  top: -10%;
  left: -10%;
}
/* la "transition" que lleva el before de abajo izquierda para arriba derecha */
@keyframes pounce {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
/* final animación redes sociales */
/* sección copyright */
.copyright__section {
  color: var(--variant-clear);
  text-align: center;
}
/* animación especifica al enlace con mi nombre */
.copyright__section a {
  transition: 0.4s ease-in-out;
}
.copyright__section a:hover {
  color: var(--main-color-clear);
}
/* final sección copyright */

/* Inicio Media, el corte lo preferí en 768px ya que entre medio se desbordan unas
partes del estilo y para no agregar mas clases, realize el corte 
(recordatorio que es mobile first, este recorte es a partir
 de ese tamaño ya que es min-width) */
@media screen and (min-width: 768px) {
  /* Sección Header */
  /* activamos la sección avatar que se desactivo en mobile first */
  .header {
    width: 100vw;
    padding: 5% 14% 0 11%;
    margin: 0 0 22px 0;
  }
  /* desactivo el icono hamburger */
  .menu-icon {
    display: none;
  }
  /* "Reestilado" de la navbar ya que estaba posicionada fuera de la vista*/
  .navbar {
    position: relative;
    top: 0px;
    max-width: 600px;
    width: 65%;
    height: auto;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 0px;
  }
  /* activamos el button contact del header */
  .nav__contact {
    display: block;
  }
  /* sombra del button contact en el header */
  .box-shadow {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  }
  /* fin sección header */
  /* inicio sección main */
  /* inicio main presentation */
  /* cambio la dirección del contenedor presentation */
  .main__presentation {
    min-height: 700px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  /* fin main presentation */
  /* inicio main information */

  /* cambio la dirección del contenedor information, alineado central, cambio del color de fondo
  padding porcentual */
  .main__information {
    height: 180px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1%;
    background-color: var(--main-color-dark);
    width: 100%;
    padding: 3% 8%;
  }
  /* Estilo del information title */
  .information__title {
    max-width: 550px;
    font-size: 36px;
  }
  /* boton go for it en desktop es diferente */
  .information__button {
    background-color: var(--variant-clear);
    color: var(--main-color-dark);
    box-shadow: none;
  }
  .information__button:hover {
    transform: scale(1.2);
    background-color: var(--main-color-clear);
    color: var(--variant-dark);
  }
  /* segunda sección information, solo justificamos el contenido  */
  .main__cta {
    min-height: 220px;
    padding: 2% 12%;
    height: 60px;
    background-color: var(--main-color-dark);
    justify-content: space-between;
  }
  /* "desactivo" que la palabra BEST ocupe toda la linea 
  (en realidad tenia padding justo para ocupar toda la linea, 
  aplicando inline se le desactiva) */
  .title--active {
    display: inline;
  }
  /* desactivo el párrafo de la segunda sección information, el el Figma son diferentes */
  .paragraph-disable {
    display: none;
  }
  /* fin main information */
  /* inicio main services */
  /* Desactivamos los margenes de la sección services*/
  .main__services {
    background-color: #fafafa;
    margin: 0;
    padding: 50px 6%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /* aplicamos un máximo al width de la sección services */
  .services__section {
    width: 100%;
    max-width: 400px;
    position: relative;
    margin: 0 0 12% 0;
    cursor: cell;
  }
  .services__title {
    background-color: #b3b2b700;
  }
  /* Según el Figma los párrafos están separados de la numeración*/
  .services__paragraph {
    display: block;
    min-width: 380px;
    max-width: 430px;
    color: #b3b2b7;
    position: absolute;
    left: 18%;
  }
  /* fin main services */
  /* inicio sección mural (mural contiene avatar) */
  /* Aplicamos un margen de separación al titulo de la sección "mural" */
  .mural__title {
    margin: 0 0 60px 0;
  }
  .main__mural {
    min-height: 600px;
    padding: 80px 0 60px 0;
  }
  /* Es el contenedor de los avatar section, no le puse clase xd */
  .main__mural div {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 0;
    gap: 40px;
  }
  /* activamos los avatar sección que no estaban en mobile */
  .disable {
    display: inline-block;
  }
  /* re-dimension de los avatar section ya que ahora ocupan 3 todo el espacio y color de fondo */
  .avatar__section {
    background-color: #fafafa;
    display: inline-block;
    padding: 122px;
    min-height: 250px;
    height: auto;
  }
  /* Posicionamiento de la imagen avatar, porcentual, ya que a partir del corte
  se montaba sobre el titulo entre medio de 768px y 1440px */
  .avatar__img {
    position: absolute;
    top: -18%;
  }
  .avatar__title {
    margin-top: 26px;
  }
  /* Según el Figma en desktop los párrafos tienen color mas opaco */
  .avatar__paragraph {
    color: #b3b2b7;
    margin: 0 0 22px 0;
  }
  /* button de la sección avatar (según el Figma al presionar es color mas claro) */
  .button--active:hover {
    box-shadow: none;
    background-color: #ae7fd3;
    color: var(--variant-dark);
  }
  /* Fin sección mural (mural contiene avatar) */
  /* fin sección main */

  /* inicio sección footer */
  .footer {
    width: 100%;
    min-height: 140px;
  }
  /* re-dimension de la sección footer, cambiamos la dirección a row */
  .footer__section {
    min-height: 140px;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 22px;
  }
  /* Cambio de la justificación del contenido */
  .section__row {
    margin: 0 22px;
    justify-content: space-between;
  }
  /* cambio de la sección que contenía el logo y las redes sociales
   (flex direction column reverse a column)*/
  .section__column {
    flex-direction: column;
    gap: 42px;
  }
  /* Alineo el formulario a la derecha porque estaba centrado y no se veía bien */
  form {
    text-align: end;
  }
  /* contenedor de los iconos de las redes sociales para la animación */
  .container {
    max-width: 260px;
  }
  /* según el Figma esta posicionado a la derecha todo el texto en conjunto */
  .copyright__section {
    text-align: end;
    color: #b3b2b7;
  }
  /* fin sección footer */
}
